<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar  bg-dark text-light">
        <div class="container">
            <a class="navbar-brand text-center text-lg link-light" style="font-size: 30px;padding-top:5px;padding-bottom: 5px;">BDTeen</a>
          <div class="text-end justify-content-end align-items-end">
            <div class="columns">
                <div class="column w-100">
                </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="columns h-100" style="margin-top:15px;">
            <div class="column is-one-quarter">
                <div style="position: sticky;position: -webkit-sticky;z-index: 1; /* Stay on top */
                top: 0; /* Stay at the top */
                left: 0;">
                    <h3 style="margin-bottom: 10px;">Xin chào! {{bio.user.username}}</h3>
                <button class="button is-success is-fullwidth is-large" style="margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#ask_gpteen_university"  class="btn btn-info w-100">GPTeen University</button>
                 <a class="btn btn-primary btn-lg w-100" style="margin-bottom: 10px;">Điểm: {{bio.balance}}</a>
                <b>Tìm kiếm</b>
                <form style="margin-bottom: 10px;">
                    <div class="columns">
                        <div class="column" style="margin-right: -15px;">
                            <input placeholder="Tìm kiếm..." type="text" name="Tìm kiếm" class="form-control w-100">
                        </div>
                        <div class="column">
                            <select class="form-select w-100" style="margin-right: 10px;" name="topic">
                                <option value="">---</option>
                                {% for subject in subjects %}
                                <option value="{{subject.id}}">{{subject.name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                    <div class="columns" style="margin-top: -30px;">
                        <div class="column">
                            <button class="button is-success is-fullwidth">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                <b>Phân trang</b>
                <ul style="padding-top: 5px;margin-bottom: 10px;">
                    <li><a href="{% url 'post' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Cộng đồng</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'question' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Hỏi đáp</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'document' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Tài liệu</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'quiz' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Quiz luyện tập</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'club_list_view' %}" class="button is-primary is-rounded is-fullwidth" style="text-decoration: none;">Câu lạc bộ</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'online_class_list_view' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Lớp học online</a></li>
                </ul>
                <b>Về {{bio.user.username}}</b>
                <ul style="padding-top: 5px;margin-bottom: 10px;">
                    <li><a href="{% url 'your_profile' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Trang cá nhân</a></li>
                    <li style="margin-top: 10px;"><a class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Điểm & Vinh danh</a></li>
                </ul>
                <b>Khác</b>
                <ul style="padding-top: 5px;">
                    {% if bio.user.is_staff %}
                    <li><a href="{% url 'staff_index' %}" class="button is-success is-rounded is-fullwidth" style="text-decoration: none;">Trang Quản Trị Viên</a></li>
                    {% endif %}
                    <li style="margin-top: 10px;"><a href="{% url 'log_out' %}" class="button is-danger is-rounded is-fullwidth" style="text-decoration: none;">Đăng xuất</a></li>
                    <li style="margin-top: 10px;"><a class="button is-warning is-rounded is-fullwidth" style="text-decoration: none;">Hỗ trợ & Báo cáo sự cố kỹ thuật</a></li>
                </ul>
                </div>
            </div>
            <div class="column">
                <div class="has-background-primary-dark text-light" style="margin-bottom: 20px;border-radius: 10px;">
                    <div style="padding: 30px;">
                        <h1>Trang Câu lạc bộ</h1>
                        <p>Nơi bạn có thể kiếm tìm những cộng đồng cùng chung chí hướng với mình.</p>
                    </div>
                </div>
                {% if bio.user.is_staff %}
                <a class="button is-primary is-fullwidth" style="text-decoration: none;margin-bottom: 20px;" href="{% url 'club_create' %}">Đăng thông tin CLB của bạn</a>
                {% endif %}
                {% if posts|length != 0 %}
                {% for post in posts %}
                    <div class="d-flex justify-content-center align-items-start w-100 mx-auto">
                        <div class="card mb-3 w-100 shadow-lg">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="/media/{{post.club_image_related.first.image}}" class="img-fluid rounded-start" style="object-fit: cover;height:100%" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{post.name}}</h5>
                                  <p class="card-text">{{post.description}}</p>
                                  <div class="columns">
                                    <div class="column w-100">
                                      <a href="{% url 'like_club' id=post.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{post.like.count}}</a>
                                    </div>
                                    <div class="column w-100">
                                      <a href="{% url 'dislike_club' id=post.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{post.dislike.count}}</a>
                                    </div>
                                  </div>    
                                  <div class="columns">
                                    <div class="column">
                                      <a href="{% url 'club_view' id=post.id %}" class="btn btn-primary w-100 is-fullwidth">Tìm hiểu thêm</a>
                                    </div>
                                    <div class="column">
                                      <button class="button is-primary is-fullwidth"><i class="bi bi-share" style="margin-right: 5px;"></i> Chia sẻ bài viết</button>
                                    </div>
                                  </div>
                                  <p class="card-text"><img src="{{post.user.avatar.url}}" class="rounded-circle" style="width: 50px;height: 50px;object-fit: cover;"> <a href="{% url 'user_profile' id=post.user.id %}" class="link-dark">   {{post.user.user.username}}</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                    <div class="card w-75 align-items-center justify-content-center vh-75 mx-auto d-flex text-center">
                        <h1 style="padding: 15px;">Chưa có bài viết nào</h1>
                    </div>
            {% endif %}
            </div>
        </div>
              <script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.4/libs/oversea/index.js"></script>
      <script>
          new CozeWebSDK.WebChatClient({
            config: {
              bot_id: '7361736065943617544',
            },
            componentProps: {
              title: 'GPTeen',
            },
          });
      </script>
    </div>
    <div class="modal fade" id="ask_gpteen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1 class="text-center">Hỏi GPTeen</h1>
            <p>Bạn có thể hỏi GPTeen bằng các cách sau</p>
            <b>1. Văn bản</b>
              <form action="{% url 'ask_gpteen' %}" method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
                {% csrf_token %}
                              <textarea placeholder="Nhập câu hỏi" rows="5" cols="5" name="gpteen" class="form-control w-100" style="margin-right: 10px;margin-bottom: 10px;"></textarea>
                              <button type="submit" class="btn btn-success w-100">Hỏi với 10 Teen</button>
          </form>
          <b>2. Ảnh</b>
          <form action="{% url 'gpteen_image' %}" method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
              {% csrf_token %}
              <input type="file" name="image" class="form-control w-100" style="margin-bottom: 10px;" />
              <button type="submit" class="btn btn-success w-100">Hỏi với 50 Teen</button>
          </form>
          <b>3. File tài liệu</b>
          <form action="{% url 'gpteen_document' %}" method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
              {% csrf_token %}
              <input type="file" name="doc" class="form-control w-100" style="margin-bottom: 10px;" />
              <button type="submit" class="btn btn-success w-100">Hỏi với 50 Teen</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="ask_gpteen_university" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1 class="text-center">GPTeen University</h1>
            <p>Hãy để GPTeen cùng bạn tìm ra môi trường đại học phù hợp với năng lực của bạn.</p>
            <p style="color: red;">*Lưu ý: Điểm GPTeen xử lý được là điểm thi tốt nghiệp THPTQG của bạn theo thể thức khối ba môn. Bạn có thể xét bằng dữ liệu điểm khảo sát với thể thức tương tự</p>
          <form action="{% url 'gpteen_university' %}" method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
              {% csrf_token %}
                  <div style="margin-bottom: 10px;">
                    <label>Tổng điểm ba môn cộng lại</label>
                    <input type="text" name="total_score" class="form-control w-100" />
                  </div>
                  <div style="margin-bottom: 10px;">
                    <label>Mã khối</label>
                    <input type="text" name="category_code" class="form-control w-100" />
                  </div>
                  <div style="margin-bottom: 10px;">
                    <label>Nghề nghiệp mong muốn</label>
                    <input type="text" name="job" class="form-control w-100" />
                  </div>
                  <div style="margin-bottom: 10px;">
                    <label>Khu vực <span style="color: red;">*</span></label>
                        <select class="form-select" name="area">
                          <option value="Miền Bắc">Miền Bắc</option>
                          <option value="Miền Trung">Miền Trung</option>
                          <option value="Miền Nam">Miền Nam</option>
                        </select>
                  </div>
              <button type="submit" class="btn btn-success w-100">Hỏi với 100 Teen</button>
          </form>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="title is-1 text-dark text-center">Đăng bài</h5>
                    <form action="/create/post/" enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                        <textarea class="form-control shadow" name="content" id="content" cols="100" rows="10" placeholder="Bạn đang nghĩ gì vậy?"></textarea>
                        <br>
                        <select class="form-select" name="subject">
                          {% for subject in subjects %}
                          <option value="{{subject.id}}">{{subject.name}}</option>
                          {% endfor %}
                        </select>
                        <br>
                        <button class="btn shadow btn-success w-100">Đăng</button>
                    </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>