<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar sticky-top bg-dark text-light">
        <div class="container">
            <a class="navbar-brand text-lg link-light" style="font-size: 30px;padding-top:5px;padding-bottom: 5px;">BDTeen</a>
          <div class="text-end justify-content-end align-items-end">
            <div class="columns">
                <div class="column w-100">
                    <a class="btn btn-primary btn-lg" style="width:150px;">Điểm: {{bio.balance}}</a>
                </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="columns h-100" style="margin-top:15px;">
            <div class="column is-one-quarter">
                <div style="position: sticky;position: -webkit-sticky;z-index: 1; /* Stay on top */
                top: 0; /* Stay at the top */
                left: 0;">
                    <h3 style="margin-bottom: 10px;">Xin chào! {{bio.user.username}}</h3>
                <button class="button is-primary is-fullwidth is-large" style="margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#ask_gpteen"  class="btn btn-info w-100">Hỏi GPTeen</button>
                <b>Tìm kiếm</b>
                <form style="margin-bottom: 10px;">
                    <div class="columns">
                        <div class="column" style="margin-right: -15px;">
                            <input placeholder="Tìm kiếm..." type="text" name="search" class="form-control w-100">
                        </div>
                        <div class="column">
                            <select class="form-select w-100" style="margin-right: 10px;" name="topic">
                                <option value="">---</option>
                                {% for subject in subjects %}
                                <option value="{{subject.id}}">{{subject.name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                    <div class="columns" style="margin-top: -30px;">
                        <div class="column">
                            <button class="button is-success is-fullwidth">Search</button>
                        </div>
                    </div>
                </form>
                <b>Phân trang</b>
                <ul style="padding-top: 5px;margin-bottom: 10px;">
                    <li><a href="{% url 'post' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Cộng đồng</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'question' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Hỏi đáp</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'document' %}" class="button is-primary is-rounded is-fullwidth" style="text-decoration: none;">Tài liệu</a></li>
                    <li style="margin-top: 10px;"><a href="{% url 'quiz' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Quiz luyện tập</a></li>
                </ul>
                <b>Về {{bio.user.username}}</b>
                <ul style="padding-top: 5px;margin-bottom: 10px;">
                    <li><a href="{% url 'your_profile' %}" class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Trang cá nhân</a></li>
                    <li style="margin-top: 10px;"><a class="button is-outlined is-rounded is-fullwidth" style="text-decoration: none;">Điểm & Vinh danh</a></li>
                </ul>
                <b>Khác</b>
                <ul style="padding-top: 5px;">
                  {% if bio.user.is_staff %}
                  <li><a href="{% url 'staff_index' %}" class="button is-success is-rounded is-fullwidth" style="text-decoration: none;">Trang Quản Trị Viên</a></li>
                  {% endif %}
                  <li style="margin-top: 10px;"><a href="{% url 'log_out' %}" class="button is-danger is-rounded is-fullwidth" style="text-decoration: none;">Đăng xuất</a></li>
                  <li style="margin-top: 10px;"><a class="button is-warning is-rounded is-fullwidth" style="text-decoration: none;">Hỗ trợ & Báo cáo sự cố kỹ thuật</a></li>
                </ul>
                </div>
            </div>
            <div class="column">
                <div class="has-background-primary-dark text-light" style="margin-bottom: 20px;border-radius: 10px;">
                    <div style="padding: 30px;">
                        <h1>Trang tài liệu</h1>
                        <p>Nơi bạn có thể chia sẻ và tìm được nhiều tài liệu hay và bổ ích</p>
                    </div>
                </div>
                <a class="button is-primary is-fullwidth" style="text-decoration: none;margin-bottom: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-info w-100">Đăng tài liệu</a>
                {% if posts|length != 0 %}
                {% for post in posts %}
                    <div class="d-flex justify-content-center shadow align-items-start w-100 mx-auto card">
                        <div class="card-header w-100">
                            <div class="container">
                                <div class="columns">
                                  <div class="column">
                                    <img src="{{post.user.avatar.url}}" class="rounded-circle" style="width: 50px;"> <a class="link-dark">   {{post.user.user.username}}</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        {% if post.image %}
                        <img src="{{post.image.url}}" class="w-100 h-50 rounded" style="object-fit: cover;" />
                        {% endif %}
                        <div class="card-body w-100">
                        <a href="{% url 'document_view' id=post.id %}" class="link-dark"><h3 class="card-text text-start align-items-start">{{post.title}}</h3></a>
                        <br>
                        <div class="columns">
                          <div class="column w-100">
                            <a href="{% url 'like_document' id=post.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{post.like.count}}</a>
                          </div>
                          <div class="column w-100">
                            <a href="{% url 'dislike_document' id=post.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{post.dislike.count}}</a>
                          </div>
                          <div class="column w-100">
                            <a href="{% url 'document_view' id=post.id %}" class="btn btn-secondary w-100"><i class="bi bi-chat-left-text"></i> {{post.comment_count}}</a>
                          </div>
                        </div>
                        </div>
                        <div class="card-footer w-100 align-items-center justify-content-center">
                          <p class="text-center">{{post.datetime}}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                    <div class="card w-75 align-items-center justify-content-center vh-75 mx-auto d-flex text-center">
                        <h1 style="padding: 15px;">Chưa có bài viết nào</h1>
                    </div>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="ask_gpteen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1 class="text-center">Hỏi GPTeen</h1>
                <form action="{% url 'ask_gpteen' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                                <textarea placeholder="Nhập câu hỏi" rows="5" cols="5" name="gpteen" class="form-control w-100" style="margin-right: 10px;margin-bottom: 10px;"></textarea>
                                <button type="submit" class="btn btn-success w-100">Hỏi với 100 Teen</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="title is-1 text-dark text-center">Đăng tài liệu</h5>
                <form action="{% url 'create_document' %}" enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-lg">
                          <label>Tiêu Đề</label>
                          <input type="text" name="title" class="form-control">
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-lg">
                        <label>Học Vấn</label>
                        <select id="edu_rank" name="education_rank" class="form-select" required>
                            {% for edu in educations %}
                                <option value="{{edu.id}}">{{edu.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg">
                        <label>Lớp</label>
                        <input type="number" name="grade" class="form-control w-100" required>
                    </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col">
                          <label>Ảnh</label>
                          <input type="file" name="image" class="form-control" required>
                      </div>
                      <div class="col">
                          <button type="button" style="background: none;border: none;" data-toggle="tooltip" data-placement="top" title="Hiện Hệ Thống Của Chúng Tôi Chưa Đủ Nhiều Để Chứa File. Xin Lỗi Vì Sự Bất Tiện Này!">File</button>
                          <input type="file" name="file" class="form-control">
                      </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                      <div class="col">
                          <label>Subject</label>
                          <select id="edu_rank" name="subject" class="form-select" required>
                              {% for subject in subjects %}
                                  <option value="{{subject.id}}">{{subject.name}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col">
                          <label>Phần Thưởng</label>
                          <input type="number" name="price" step="0.01" class="form-control w-100" required>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                      <div class="col">
                          <label>Mô Tả</label>
                          <textarea class="form-control" name="description" rows="5" cols="5"></textarea>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                      <div class="col">
                          <button type="submit" class="btn btn-success w-100">Đăng</button>
                      </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>